<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowServlet</display-name>
    <servlet-name>BorrowServlet</servlet-name>
    <servlet-class>BorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowServlet</servlet-name>
    <url-pattern>/BorrowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewBook</display-name>
    <servlet-name>AddNewBook</servlet-name>
    <servlet-class>AddNewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewBook</servlet-name>
    <url-pattern>/AddNewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBook</display-name>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>DeleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassServlet</display-name>
    <servlet-name>ChangePassServlet</servlet-name>
    <servlet-class>ChangePassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassServlet</servlet-name>
    <url-pattern>/ChangePassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewUser</display-name>
    <servlet-name>AddNewUser</servlet-name>
    <servlet-class>AddNewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewUser</servlet-name>
    <url-pattern>/AddNewUser</url-pattern>
  </servlet-mapping>
</web-app>